.task{
    border-radius: 10px;
    margin: 20px 200px;
    padding: 10px;
    background-color: rgb(222, 231, 231);
    border: 2px solid blue;
    opacity: 0.6;
    display: flex;
    justify-content: center;

}

.description{
    color: black;
    font-weight: bold;
    margin: 0 40px
}

.btn-del{
    align-content: flex-end;
    margin-right: 10px;
}

.tasknew{
    width: 400px;
}